<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User edit</title>
    <link th:replace="fragments/bootstrap.html">
</head>
<body id="page-top">
<div id="wrapper">
    <div th:insert="fragments/sidebar"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:insert="fragments/header"></div>

            <div class="container-fluid">
                <div class="col-xl-5 col-lg-5 container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="mt-4  small">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4" th:text="|Edit ${userToUpdate.getFirstName()} ${userToUpdate.getLastName()} task|"></h1>
                                    </div>
                                    <form class="user" th:action="@{/users/update/{id}(id=${userToUpdate.id})}" method="post" th:object="${userToUpdate}">
                                        <div class="form-group">
                                            <label for="exampleInputFirstName" class="form-label">First name</label>
                                            <input type="text" class="form-control"
                                                   name="firstName"
                                                   id="exampleInputFirstName" aria-describedby="firstNamelHelp"
                                                   placeholder="Enter first name..." th:value="${userToUpdate.getFirstName()}">
                                        </div>


                                        <div class="form-group">
                                            <label for="exampleInputLastName" class="form-label">Last name</label>
                                            <p>
                                                <textarea class="form-control" id="exampleInputLastName" name="lastName" placeholder="Last name" th:text="${userToUpdate.getLastName()}"></textarea>
                                            </p>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail" class="form-label">Email</label>
                                            <input type="email" class="form-control"
                                                   name="email"
                                                   id="exampleInputEmail" aria-describedby="emailHelp"
                                                   placeholder="Enter email..." th:value="${userToUpdate.getEmail()}">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputLogin" class="form-label">Login</label>
                                            <input type="text" class="form-control"
                                                   name="login"
                                                   id="exampleInputLogin" aria-describedby="firstNamelHelp"
                                                   placeholder="Enter login..." th:value="${userToUpdate.getLogin()}">
                                        </div>

                                        <div class="form-group">
                                            <label for="rolesDataList" class="form-label">Roles</label>
                                            <input
                                                    class="form-control"
                                                    list="rolesListOptions"
                                                    id="rolesDataList"
                                                    name="department"
                                                    placeholder="Type to search department"
                                                    th:value="${userToUpdate.role.getName()}">

                                            <datalist id="rolesListOptions" >
                                                <th:block th:each="role: ${userToUpdate.data.roles}">
                                                    <option th:value="${role.getName()}"></option>
                                                </th:block>
                                            </datalist>
                                        </div>

                                        <div class="form-group">
                                            <label for="departmentDataList" class="form-label">Urgency</label>
                                            <input
                                                    class="form-control"
                                                    list="departmentListOptions"
                                                    id="departmentDataList"
                                                    name="department"
                                                    placeholder="Type to search department"
                                                    th:value="${userToUpdate.department?.getName()}"
                                                     >

                                            <datalist id="departmentListOptions" >
                                                <th:block th:each="department: ${userToUpdate.data.departments}">
                                                    <option th:value="${department.getName()}"></option>
                                                </th:block>
                                            </datalist>
                                        </div>



                                        <hr>

                                        <div class="row justify-content-around">
                                            <button  type="submit" class="btn btn-primary col-xl-4 col-md-6 mb-5">Edit</button>
                                            <a> <div class="btn btn-danger  col-xl-4 col-md-6 mb-5" ><a>delete</a> </div></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="fragments/footer"></div>
    </div>
</div>
</body>
</html>